@import "compass";
@import "compass/css3";
@import "zen";
@import "zen/background";


//Create the page level variables here

$max-pag-width: 1200px;
$base-font-size: 10px;
$default-border-color:#efefef;
$button_text_size: 14px;
$secondary_color: #666666;
$primary_color:#333333;
$subtle_color: #efefef;
$impact_color: #ee0000;
//$field-width:;
//$file-height:;

.baseFontAwesome{
  font-family: FontAwesome;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:0 .25rem;
}

/*
@if( $pixelFalback == ""){
  font-size: $iconSize;
}
#else{
  font-size: $pixelFalback;
  font-size: $iconSize;
}
*/
@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@mixin font-size($size:1.6, $line: $size*1.25 ){
    font-size: ($size * 10) + px;
    line-height: round($line * 10) + px;
    font-size: $size + rem;
    line-height: $line + rem;
}

@mixin f_awe($faCode:"", $iconSize:1rem,$color:inherit){
  @extend .baseFontAwesome;
  $content : "you didn't pass a font awesome code";
    //Use like this-- :before(@include f_awe(/"fo6b")
  //If you want to apply it to a class that you will later add content to, just leave the
  //code out like this: .foo{@include f_awe(); }
  @if($faCode == ""){
   $content : $content;
  }
  @else{
    $content: $faCode;
  };
  font-size: $iconSize;
  line-height: $iconSize * 1.25;
  content: $content;
  color:$color;

}

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

.baseChatBar{
  font-weight: bold;
  text-align: right;
  &:after{
    @include f_awe("\f075", 1.3rem);
  }
}


html{
  font-size: 62.5%;
}
body{
  //font-size: $base-font-size;
  font-size: 1.3rem;
  height: 100%;
}

H1,h1{
  font-size: 2.8rem;
}

.gray_gradient_button {
  border: 1px solid $secondary_color;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#B3B3B3), to(#333333));
  background-image: -webkit-linear-gradient(top, #B3B3B3, #333333);
  background-image: -moz-linear-gradient(top, #B3B3B3, #333333);
  background-image: -ms-linear-gradient(top, #B3B3B3, #333333);
  background-image: -o-linear-gradient(top, #B3B3B3, #333333);
  background-image: linear-gradient(to bottom, #B3B3B3, #666666);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#B3B3B3, endColorstr=#66666);
  text-transform: uppercase;
  border: none

}

.red_gradient_button {
  border: 1px solid #df0909;
  background-color: #F44F50;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F44F50), to(#b00401));
  background-image: -webkit-linear-gradient(top, #F44F50, #b00401);
  background-image: -moz-linear-gradient(top, #F44F50, #b00401);
  background-image: -ms-linear-gradient(top, #F44F50, #b00401);
  background-image: -o-linear-gradient(top, #F44F50, #b00401);
  background-image: linear-gradient(to bottom, #F44F50, #b00401);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#F44F50, endColorstr=#b00401);
  text-transform: uppercase;
  border: none;
}

@mixin section_title($column-width:4) {
  @include zen-clear();
  @include zen-grid-item($column-width,1);
  font-size: 2.6rem;
  border-bottom: 1px $secondary_color;
}
@mixin area_header{
  font-size: 1.6rem ;
  border-bottom: 1px $secondary_color;
}

.mobile_inline_block,.mobile_block{
  display:none;
}

.area_header{
  //@include zen-clear(both);
  // @include zen-grid-item(4,1);
  font-size:2rem;
  display:block;
  margin-top:1%;
  border-bottom: 1px solid $subtle_color;

}

.shoppingActions,.continue_shopping,.secure_checkout{
  //these are the buttons
  color:#ffffff;
  font-size: 1.3rem;
  line-height: 4rem;
 // width: 20rem;
  margin:0 .25rem 1rem .25rem;
  padding: 0 1rem;

}
.apply_button{
  @extend .shoppingActions;
  margin-left:-.7rem;
  width:10rem;
  line-height: 4.12rem;
  margin-right: 2%;
}
.no_decoration_link{
  text-decoration: none;
  color:inherit;
}


/*overrides*/
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/*utility classes*/
.accordion-toggle::after{
  content:" (-)"
}

.accordion-toggle.closed::after{
  content:" (+)"
}
.normal_link{
  color: $secondary_color;
  font-weight: normal;
}
//Assuming a two cell table like format on the right side of the page
.leftCell{
  @include zen-clear(right);
  @include zen-grid-item(2,3,right);
  background-color: #ffb6c1;
}
.rightCell{
  @include zen-grid-item(2,1,right);
  text-align: right;
}

.title_Text{
  font-size:2.6Rem
}
.largeText{
  font-size: 1.9rem;
}
.input{
  font-size: 1.6rem;
  line-height: 3.5rem;

}

//ideally, this will be the grid settings for all the pages, so it should be very flexiple
.page_container{
  height: 100%;
  position: relative;
  $zen-column-count:7;
  $zen-gutter-width:6px;
  @include zen-grid-container;
//  @include zen-grid-background($grid-color:lightyellow);
  width:98%;
  margin: 1rem auto;
  padding: 0 1rem;
}

.espot_top{
  @include zen-grid-item(7,1);
  text-align: center;
  border:1px solid;
  margin-right:1.5rem;
}
/* the start of the shopping cart area on the shopping cart page*/
.cart_container{    //shopping cart, the columns for the cart will shift around in the mobile aspect, so we 'll need a sub-grid here
  @include zen-clear();
 @include zen-grid-item(6,1);
  @include zen-nested-container();
  border-right: 1px solid $subtle_color;
  margin-top: 1rem
//@include zen-grid-background($grid-color:lightblue);

}
.recommendedProductArea{
  @include zen-grid-item(1,7);

  height: 100%;
  .recommendedProduct {
    display: block;
    list-style-type: none;
    text-align: center;
    margin-left:10px;
    p{
      margin:3rem 0;
      font-size: 1.4rem;
      font-weight: bold;
      color: $impact_color;

    }

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
        font-size: 1.6rem;
        line-height: 2.0rem;
        color: $primary_color;
      }
    }

    img {
      width: 100%;
     // max-width: 10rem;
      //height: 60px;
      display: block;
      margin: .25rem auto .25rem;
      border: 1px solid $secondary_color;

    }
  }
  .button_add_cart{
    color:white;
    font-size: 1.1rem;
    line-height: 1.45rem;
    width:auto;
    height:3em;
    margin: 5% auto 18% auto;
  }
}

.cart_controls{
  margin:1% auto;
  background-color: white;
  @include zen-grid-container;
}
.cart_id{
  @include zen-grid-item(3,1);
  text-align: left;
  .cart_id_number{
    margin-left:1rem;
    color:$secondary_color;
  }
}
.cust_service_phone_link{
 display: none;
  ::before{
    @include f_awe("\f095", 1.1em,$impact_color);
  }
 }
.cart_buttons{
  @include zen-grid-item(4,1,right);
  text-align:right;
  margin-right:1rem;
}

.espot_Cart_upper{
  background-color: #efefef;
  padding:1%;
  margin-right: 1.5rem;

  @include zen-grid-container;
  @include zen-clear();
  .shopRunner{
    font-size: 1.3rem;
    @include zen-grid-item(4,1);
  }
  .chatBar_espot {
    @extend .baseChatBar;
    @include zen-grid-item(3, 1, right);
  }


}


  .cart{

    @include zen-clear();
    $zen-column-count: 10;
    $zen-gutter-width: 8px;
    @include zen-grid-item(5, 1);
    @include zen-nested-container();
    border-bottom: 1px solid $subtle_color;
   // @include zen-grid-background($grid-color: lightpink);
    width: 98%;
    margin: 5% auto;
    @include font-size(1.4);


    .titleRow {
     font-weight: bold;
      color: $secondary_color;
      margin: 3rem 0 2rem 0;
      padding: 1rem 0;


      .item_descriptionHdr {
        @include zen-grid-item(4, 1);
      }
      .qtyHdr {
        @include zen-grid-item(1, 5);
        width:8%;
      }
      .availabilityHdr {
        @include zen-grid-item(1, 6);
        width:12%;
      }
      .priceHdr {
        @include zen-grid-item(3, 7);
      }
      .totalHdr {
        @include zen-grid-item(2, 9);
      }
    }
    .productRow{
      @include zen-clear();
      border-top:1px solid $subtle_color;
      margin-top:1rem;
      padding-top: 1rem;
      div{
        margin:.5rem 0;
      }
      .item_image{
        @include zen-grid-item(2,1);
        img{
          width:95%;
          padding: 1.5%;
          margin:auto;
          border:1px solid $default_border_color;
        }
      }
    .item_details{
      @include zen-grid-item(2,3);

      .product_name{
       font-size:1.4rem;
        font-weight: bold;
        color:$impact_color;
      }
      .sku{
        color:$secondary_color;
      }
      .instant_savings{
        font-weight: bold;
        font-size: 1.2rem;
      }
      .free_gift{
        color:$impact_color;
       // font-weight: bold;
        font-size:1.4rem;

        :before{
          @include f_awe("\f06b", 1.2rem);
        }
      }

    }
    .qty{
      @include zen-grid-item(1,5);
      width:8%;
      input{
        width:4.1rem;
        height:2.4rem;
        text-align: center;
       }
    }
    .availability{
      @include zen-grid-item(1,6);
      color: $secondary_color;
      width:12%

    }
    .price{
      @include zen-grid-item(2,7);
      color:$primary_color;
      font-size: 1.4rem;
    }
    .old_price{
      font-size: 1.3;
      text-decoration: line-through;
      color:$secondary_color;
    }
    .total{
      @include zen-grid-item(1,9);
      font-size: 1.6rem;
      color: $impact_color;
    }
    .remove{
      @include zen-grid-item(1,10);
      color:$primary_color;
      :before{
        @include f_awe("\f00d", 1.5rem);
      };
    }

    .carePak{
        @include zen-clear();
        @include zen-grid-item(4,1);
        text-align: left;
        padding-left: 10%;
        margin: 3% 0 4% 5%;
        width:80%;
      .viewOptionLink::before{
        @include f_awe("\f059", 1.4rem);
      }
      }


  }

  }

.espot_Cart_lower{
  @include zen-clear();
  @include zen-grid-item(10,1);
  background-color: $subtle_color;
  width: 98%;
  margin: 4% auto;

  margin-right: 1.5rem;
  .espot_text{
    margin:2% auto;
    width:80%;
    font-size: 1.4rem;
    text-align: center;
  }
}
.promoForm{
  @include zen-clear();
  @include zen-grid-item(10,1, right);
  text-align: right;
  margin-bottom: 40px;
  margin: 1% auto;
  width:98%;
  input {
    @include input-placeholder {
      color:#ffffff;
    }
  }
  .promo_input{
    height:3.5rem;
    width:40%;
    font-size:1.3rem;
      }
}

.order_breakdown{
  font-size: 1.5rem;
  line-height:1.6rem;
  @include zen-clear();
  @include zen-grid-container();
  clear:both;
  margin: 2% 2% 2% 0;
  .order_disclaimer{
    @include zen-grid-item(6,1);
  }
  .order_total{
    line-height: 3.9rem;
    @include zen-clear(right);
    font-size: 1.5rem;
    .merchandise_label{
     @include zen-grid-item(2,3,right);
    }
    .merchandise_value{
      //@extend .rightCell;
      @include zen-grid-item(2,1,right);
      text-align: right;

    }
    .discount_label{
     @include zen-clear(right);
     @include zen-grid-item(2,3,right);
    }
    .discount_value{
      //@extend .rightCell;
      @include zen-grid-item(2,1,right);
      text-align: right;
    }
    .estimated_shipping_label{
     @include zen-clear(right);
     @include zen-grid-item(2,3,right)
    }

    .estimated_shipping_value{
      //@extend .rightCell;
    @include zen-grid-item(2,1,right);
      text-align: right;
    }
    .sub_total_label{
     @include zen-clear(right);
     @include zen-grid-item(2,3,right);
      @extend .largeText;
     color:$primary_color;
    }
    .sub_total_value{
      @include zen-grid-item(2,1,right);
      text-align: right;
    // @extend .rightCell;
     @extend .largeText

    }
  }

}
.cart_buttons_lower{
  @include zen-grid-item(10,1,right);
  text-align:right;
  margin-right:1rem;
}
 /*end of the shopping cart page*/

//the order review page
.order_info {
  $zen-column-count: 8;
  @include zen-grid-container();
 // @include zen-grid-background($grid-color: lightyellow);
  font-size: 1.6rem;
  height: 100%;

  .breadcrumbs {
    .steps {
      display: inline-block;
    }

    .step1 {
      @include zen-grid-item(3, 1);
      background-color: #ffb6c1;
    }
    .step2 {
      @include zen-grid-item(3, 4);
    }
    .step3 {
      @include zen-grid-item(3, 7);
    }
  }

  .chat_bar_fullWidth {
    @include zen-clear();
    @include zen-grid-item(8, 1);
    @extend .baseChatBar;
    background-color: lightcyan;
  }
  .espot_upper {
    @include zen-clear(both);
    @include zen-grid-item(8, 1);
    background-color: lightgray;

  }

  .section_holder_left {
    @include zen-clear();
    @include zen-grid-item(4, 1);
    @include zen-grid-container();
  //  @include zen-grid-background($grid-color: lightblue);

  }
  .section_holder_right{
    @include zen-clear(right);
    @include zen-grid-item(4,5);
    @include zen-grid-container();

  }

  .section_title {
    display: block;
    width: 100%;
    font-size: 20px;
    font-size: 2rem;
    border-bottom:1px solid $subtle_color;
    padding-bottom:2%;
  }
  .espot_mini {
    background-color: lightcyan;
    .e_text {
      @include zen-clear();
      @include zen-grid-item(8, 1);
      float: none;
    }
    .shopRunner {
      @include zen-clear();
      @include zen-grid-item(5, 1);
      float: none;
    }
  }
  .multi_ship {
    @include zen-grid-item(3, 1);
    margin-bottom: 2%;
  }
  .helper_text {
    @include zen-grid-item(5, 4);
    font-size: 1.6rem;
    margin-bottom: 2%;
  }
  .customer_info_area_left {
    @include zen-clear(left);
    @include zen-grid-item(4, 1);

    /*
     label{
       @include zen-clear(right);
       @include zen-grid-item(3,1);
     }
     input{
       @include zen-clear(right);
       @include zen-grid-item(4,1);
     }*/
  }
  .customer_info_area_right {
    //  @include zen-clear(right);
    fieldset {
      border: none;
    }
    @include zen-grid-item(4, 5);
    .shipping_label_input, .shipping_label_radio {
      display: block;
    }
  }
  .order_fieldset {
    border: none;
  }

  .billing_address {
    @include zen-grid-item(8, 1);
  }
  .payment_method {
    @include zen-clear(right);
    @include zen-grid-item(8, 9);
  }

  .section_holder_right{
    .review_cart{
      .review_product_row{
        @include zen-clear();
        .item_image{
          @include zen-grid-item(2,1);
          display:inline-block;
          //width:30%;
          img{
            width:100%;
          }
        }
        .item_details{
          @include zen-grid-item(3,3);
        }
        .price{
          @include zen-grid-item(2,7)
        }
      }
    }
    .promoForm{
     // @include zen-clear();
    }
    .order_total{
      @include zen-clear();

      div[class$="_label"]{
        @include zen-clear(both);
        @include zen-grid-item(4,3);
      }
      div[class$="_value"]{

        @include zen-grid-item(2,7);
        //text-align: right;
      }

    }

  }
}



@media all and (min-width:640px) and (max-width: 640px){


}
@media all and (max-width: 640px) {
  .mobile_hide{
    display:none;
  }
  .mobile_inline_block{
    display:inline-block
  }
  .mobile_block{
    display: block;
  }
  .chatBar{
    display:none;
  }
  .continue_shopping, .secure_checkout{
    width:48%;
    padding:1%;
    font-size: 1.7rem;
    margin-right: 0;
  }
  .secure_checkout{
    margin-left:.5%;

  }
.title_Text{
  font-size: 2.5rem;
}

  .cart_container{
    @include zen-clear();
    @include zen-grid-item(10,1);
    margin-top:10rem;
    .cart_controls{

    .cart_buttons{
      @include zen-clear();
      @include zen-grid-item(10,1);
      position: relative;
      text-align: center;
      margin: -14rem 0 auto;
    }
    .cart_id{
      display: inline-block;
      font-size: 3.2rem;
      .cart_id_number{
        display: block;
        color:$secondary_color;
        font-size: 1.8rem;
        padding-left: 0;

      }
    }
    .cust_service_phone_link{
      display: inline-block;
      @include zen-grid-item(5,1,right);
      @include zen-clear(left);
      vertical-align: top;
      margin-top: -5.1rem;
      text-align: right;
      font-size:2.2rem;
      padding-right:2.5%;
      ::before{
        padding-right: .4rem;
        margin-top: -1.25rem;
      }
    }
    }
  .cart{
    .titleRow{
      .qtyHdr,.availabilityHdr,.priceHdr,.totalHdr {
        display: none;
      }
      .item_descriptionHdr{
        @include zen-grid-item(8,1);
      };
      .detailsHdr{
      @include zen-grid-item(2,9);
      }
    }
    .productRow {
      @include zen-clear();
      border-top: 1px solid $subtle_color;
      margin-top: 1rem;
      padding-top: 1rem;
      div {
        margin: .5rem 0;
      }
      .item_image {
        @include zen-clear(left);
        @include zen-grid-item(3, 1);
        img {
          width: 95%;
          padding: 1.5%;
          margin: auto;
          border: 1px solid $default_border_color;
        }
      }
      .item_details {
        @include zen-clear(right);
        @include zen-grid-item(4, 4);

        .product_name {
          font-size: 1.4rem;
          font-weight: bold;
          color: $impact_color;
        }
        .sku {
          color: $secondary_color;
        }
        .instant_savings {
          font-weight: bold;
          font-size: 1.2rem;
        }
        .free_gift {
          color: $impact_color;
          // font-weight: bold;
          font-size: 1.4rem;

          :before {
            @include f_awe("\f06b", 1.2rem);
          }
        }

      }

      .qty {
        @include zen-clear(right);
        @include zen-grid-item(3, 1,right);
        margin: 0 auto;
        label {
          padding-left: 10%;
          display: inline-block;
        }
        input{
          margin: 0 auto;
          width: 4.1rem;
          height: 2.4rem;
          text-align: center;
        }
      }
      .availability,.price,.old_price,.total,.remove {
        @include zen-clear(right);
        @include zen-grid-item(3, 1,right);
        text-align: center;
        margin-bottom: 1px;

      }
       .availability{
        color: $secondary_color;
      }
      .price {
        color: $primary_color;
        font-size: 1.4rem;
        .old_price {
          display: block;
          width:100%;
          font-size: 1.3;
          text-decoration: line-through;
          color: $secondary_color;
        }
      }

      .total {
        font-size: 1.6rem;
        color: $impact_color;
      }
      .remove {
        color: $primary_color;
        :before {
          @include f_awe("\f00d", 1.5rem);
        }
      }
      .carePak{
        @include zen-clear();
        @include zen-grid-item(8,2);
        margin-top:3rem;
        background-color: lightgoldenrodyellow;

      }
    }
  }
    .espot_Cart_lower{
      margin-left: 4px;
    }
    .promoForm{
      width:100%;
      input {
        @include input-placeholder {
          color: #ccc;
          padding-left: 3%;
        }
      }
      .promo_input{
        height:3.5rem;
        width:80%;
        font-size:1.3rem;
        float:left;
          display: inline-block;
          vertical-align: top;
      }
      .apply_button{
        width:18%;
        margin-right: 1%;
      }
    }
    .order_breakdown{
     // @include zen-grid-background($grid-color:lightblue);
    }
    .order_disclaimer{
      @include zen-grid-item(3,1);
     // background-color: lightyellow;
      vertical-align: middle;
      margin-top: 10%;
    }
    .order_total{
      line-height: 3.9rem;
      @include zen-clear(right);
      font-size: 2rem;
      .merchandise_label{
        @include zen-grid-item(4,4,right);

      }
      .merchandise_value{
        //@extend .rightCell;
        @include zen-grid-item(3,1,right);
        text-align: right;

      }
      .discount_label{
        @include zen-clear(right);
        @include zen-grid-item(4,4,right);
      }
      .discount_value{
        //@extend .rightCell;
        @include zen-grid-item(3,1,right);
        text-align: right;
      }
      .estimated_shipping_label{
        @include zen-clear(right);
        @include zen-grid-item(4,4,right)
      }

      .estimated_shipping_value{
        //@extend .rightCell;
        @include zen-grid-item(3,1,right);
        text-align: right;
        color:$impact_color;
      }
      .sub_total_label{
        @include zen-clear(right);
        @include zen-grid-item(4,4,right);
        font-size: 2.4rem;
      }
      .sub_total_value{
        @include zen-grid-item(3,1,right);
        text-align: right;
        // @extend .rightCell;
        font-size: 2.4rem;
        color:$impact_color;

      }
    }
.cart_buttons_lower{
  margin-right:0;
  padding-right: 0;
}
  }
  .recommendedProductArea{
    @include zen-clear();
    @include zen-grid-item(10,1);
    .recommendedProduct{
      width:20%;
      display: inline-block;
      image{
        width:100%;
      }
    }


  }
}


//Let's start doing each page's sub grids.


//each line itme in the cart grid could have two lines, so it will need to have two rows

